* {
  padding: 0;
  margin: 0;
  outline: 0;
  border: 0;
  list-style: none;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  -ms-box-sizing: border-box;
}

.listStyle {
  color: rgb(85, 60, 36);
}

.listStyle:hover {
  background: white;
  color: rgb(85, 60, 36);
}
